@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #f2ebe3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.main-component{
    background: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    min-width: 600px;
}

.image{
    width: 50%;
}

.image img{
    width: 100%;
    display: block;
    border-radius: 10px 0px 0px 10px;
}


.content{
    gap: 20px;
    padding: 32px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    width: 50%;
}

.content p{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #6c7289;
    font-weight: 500;
    margin: -10px 0px 0px 0px;
}


.content h1{
    font-family: "Fraunces";
    font-weight: 700;
    color: #1c232b;
    line-height: 100%;
    font-size: 32px ;
}

.content .description{
    color: #6c7289;
    font-size: 14px;
    font-weight: 500;
    line-height: 180%;
}

.price{
    display: flex;
    align-items: center;
    gap: 20px;
}

.price .new-price{
    color: #3c8067;
    font-size: 32px;
    font-family: "Fraunces";
    font-weight: 700;
}


.price .old-price{
    text-decoration: line-through;
    color: #6c7289;
    font-size: 13px;
    font-weight: 500;
}

button{
    color: white;
    background: #3c8067;
    outline: none;
    border: none; 
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: -10px;
}

button:hover{
    background: #1b4133;
    cursor: pointer;
}

@media (max-width: 600px){
    body {
        min-height: 100vh;
        padding: 15px;
    }

    .main-component {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        min-width: 100%;
    }

    .image {
        width: 100%;
    }

    .image img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .content {
        width: 100%;
        gap: 10px;
        padding: 24px;
    }
}